body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

header{
	position: fixed;
	background:#c2185b;
	padding: 20px;
	width: 100%;
	height: 70px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.left_area h3{
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
}

.left_area span{
	color: #1DC4E7;
}

.logout_btn{
	float: right;
	margin-top: -40px;
	margin-right: 40px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
	transition-property: background;
	cursor: pointer;
}



.sidebar{
	background:white;
	color:black;
	margin-top: 70px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	transition: 0.5s;
	transition-property: left; 
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.sidebar .profile_image{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.sidebar h4{
	color: red;
	margin-top: 0;
	margin-bottom: 20px;
}

.sidebar a{
	color: black;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}

.sidebar a:hover{
	background :#ad1457;
	color:white;
}

.sidebar i{
	padding-right: 10px;
}

label #sidebar_btn{
	z-index: 1;
	color: #fff;
	position: fixed;
	cursor: pointer;
	left: 300px;
	font-size: 20px;
	margin: 5px 0;
	transition: 0.5s;
	transition-property: color;
}

label #sidebar_btn:hover{
	color: #19B3D3;
}

#check:checked ~ .sidebar{
	left: -190px;
} 

#check:checked ~ .sidebar a span{
	display: none;
}

#check:checked ~.sidebar a{
	font-size: 20px;
	margin-left: 170px;
	width: 80px;
}

.content{
	padding:90px;
	margin-left: 180px;
	color:black;
	z-index: -10;
	position: relative;
}

#check:checked ~ .content{
	margin-left: 60px;
}

#check{
	display: none;
}

.column{
	float: left;
	width: 300px;
	padding: 0 10px;
	margin: 10px 10px;
}

/* Remove extra left and right margin, due to padding */
.row{
	margin: 0;
}

/* Clear floats after the columns */
.row:after{
	content: "";
	display: table;
	clear: both;
}

/* Style the counter cards */
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0,.2)
	padding: 16px;
	text-align: center;
	background-color: red;
	color: white;
	font-weight: bold;
}

.judul-text a{
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	margin-bottom: 10px; 
}

.dashboard{
	background-color: white;
	padding:10px;
	color: black;
	width:100%;
	border-radius: 10px;
	height:50px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}
.boxclass{
	background-color:white;
	color:black;
	margin:10px;
	padding: 10px;
	width:350px;
	height: 350px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-radius: 10px;
}
.actioncard{
	margin:10px;
}
.btnkanan{
	float: right;
}